@import "./02-base/reset";

$mobile: 375px;
$desktop: 925px;

$orange: hsl(31, 77%, 52%);
$cyan-dark: hsl(184, 100%, 22%);
$cyan-very-dark: hsl(179, 100%, 13%);
$white-transparent: hsla(0, 0%, 100%, 0.75); /* Transparent white (paragraphs)*/
$gray: hsl(0, 0%, 95%); /* Very light gray (background, headings, buttons) */

$font-shoulders: "Big Shoulders Display", cursive;
$font-lexend: "Lexend Deca", sans-serif;

* {
  // outline: 1px solid hotpink;
}
body {
  font-family: $font-lexend;
  font-weight: 400;
  color: $white-transparent;
  background-color: $gray;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  padding: 88px 0;
  position: relative;
  @media (min-width: $desktop) {
    padding: 171px 0 0 0;
    min-height: 800px;
  }
}
.wrapper {
  @media (min-width: $desktop) {
    display: flex;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  max-width: 327px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;

  @media (min-width: $desktop) {
    max-width: unset;
  }

  &--orange {
    background-color: $orange;
    border-radius: var(--brd-top-left, 8px) var(--brd-top-right, 8px)
      var(--brd-btm-right, 0) var(--brd-btm-left, 0);
    @media (min-width: $desktop) {
      --brd-top-right: 0;
      --brd-btm-left: 8px;
    }
  }

  &--cyan-dark {
    background-color: $cyan-dark;
  }

  &--cyan-very-dark {
    background-color: $cyan-very-dark;
    border-radius: var(--brd-top-left, 0) var(--brd-top-right, 0)
      var(--brd-btm-right, 8px) var(--brd-btm-left, 8px);
    @media (min-width: $desktop) {
      --brd-top-right: 8px;
      --brd-btm-left: 0;
    }
  }

  svg {
    width: 64px;
    height: 40px;
  }

  h1 {
    font-family: $font-shoulders;
    font-size: 40px;
    color: $gray;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 25px;
    @media (min-width: $desktop) {
      margin-bottom: 83px;
    }
  }

  button {
    background: $gray;
    border-radius: 25px;
    width: 146px;
    height: 48px;
    line-height: 48px;
    border: none;
    mix-blend-mode: screen;
    transition: all 0.25s ease;

    &:hover {
      border: 1px solid white;
      background: none;
      color: white;
      mix-blend-mode: unset;
      cursor: pointer;
      transition: all 0.15s ease;
    }
  }
}

.attribution {
  position: absolute;
  bottom: 12px;
  font-size: 11px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
  color: $cyan-very-dark;
  text-align: center;

  a {
    color: inherit;

    &:hover {
      color: $orange;
    }
  }
}
